header{
    background-color: rgba(109, 148, 89, 0.5);
    display: flex; box-shadow: 0 4px 6px 5px rgba(31, 51, 201, 0.5);
    justify-content: space-between;
    padding: 20px;
}
img{
    width: 80px;
    height: 80px;
}

ul{
    display: flex;
    list-style: none;}


li a{text-decoration: none;
font-size: 18px;
color: rgb(14, 14, 25);
font-weight: 500;}

li a:hover{color: #040420;
    text-decoration: underline;
    text-underline-offset: 6px;
}

li{margin-left: 15px;}

nav{margin-right: 10px;}